body {
  margin: 0;
  font-family: 'Comic Sans MS', 'Arial', sans-serif;
  background: linear-gradient(to bottom, #f0f8ff, #dff0ff);
  color: #333;
}

.img-logo {
  width: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
